<!doctype html>
<html>
<head>
    <title>Socializer</title>
    <link rel="stylesheet" href="bootstrap.min.css">
    <link rel="stylesheet" href="stylesheet/style.css">

</head>
<body ng-app="mainApp">
<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.0/angular.js"></script>
<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.0/angular-route.js"></script>

<script type="text/javascript" src="javascript/mainApp.js"></script>
<div id='main' class="container">
    <nav class="navbar-fluid navbar-default navbar-fixed-top">
        <div class="container">
            <a class="navbar-brand" href="#"> Socializer! </a>
            <p class="navbar-text"> Réseau Social</p>
        </div>
    </nav>
    <div class="col-md-offset-2 col-md-8">
        <div ng-view>
        </div>
    </div>
</div>
</body>
</html>